apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-green
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: app
      version: green
  template:
    metadata:
      labels:
        app: app
        version: green
    spec:
      containers:
      - name: app
        image: repo/student-app:green

