apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-dev
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: repo/student-app:latest
        ports:
        - containerPort: 80

